<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration status="WARN">  <!-- this is the level for log4j-logging. ours see below -->
  <Appenders>
    <Console name="STDOUT">
      <PatternLayout pattern="%d %p %C{1.} [%t] %m%n"/>
    </Console>
    <File name="File" fileName="Raga.log">
      <PatternLayout>
        <pattern>%d %p %C{1.} [%t] %m%n</pattern>
      </PatternLayout>
    </File>

  </Appenders>
  <Loggers>
    <Root level="INFO"> <!-- level for app -->
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>